.tutorial{:data =>{:title=>'Get current user with Workspace API'}}
    .step{:data=>{:title=>'Overview'}}
        :markdown
            This example shows how to log in and get a current user information using the Workspace API.

    .step{:data=>{:title=>'Initialize API Client'}}
        :markdown
            Create and setup ApiClient instance with your ApiKey and Workspace API URL.

    .step{:data=>{:title=>'Create SessionApi instance'}}
        :markdown
            Creating instance of SessionApi using the ApiClient.

    .step{:data=>{:title=>'Logging in Workspace API'}}
        :markdown
            Logging in using username and password

    .step{:data=>{:title=>'Obtaining Workspace API Session'}}
        :markdown
            Obtaining session cookie and setting the cookie to the client

    .step{:data=>{:title=>'Current user information'}}
        :markdown
            Obtaining current user information using SessionApi

    .step{:data=>{:title=>'Logging out'}}
        :markdown
            Ending our Workspace API session
